[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gdata"]
	path = gdata
	url = https://github.com/r-gregmisc/gdata
[submodule "gtools"]
	path = gtools
	url = https://github.com/r-gregmisc/gtools
[submodule "mcgibbsit"]
	path = mcgibbsit
	url = https://github.com/r-gregmisc/mcgibbsit
